# BUzzer Off and ON

In [ ]:
/******************************************************************************

                            Online C Compiler.
                Code, Compile, Run and Debug C program online.
Write your code in this editor and press "Run" button to compile and execute it.

*******************************************************************************/
// importing the libraries
#include<stdio.h>
#include<string.h>
// declaing the main method
int main(){
    // defining the value Yes and No strings
    char definedYes[10] = "Yes";
    char definedNo[10] = "No";
    // array to store the user input
    char userValue[10];
    // displaying information for the user
    printf("\n Enter Yes for Buzzer on\n\tNo for Buzzer off: ");
    // getting the string from the user
    scanf("%s",userValue);
    // comparing the sting
    int valueYes=strcmp(definedYes,userValue);
    int valueNo=strcmp(definedNo,userValue);
    // if the user enters the Yes 
    if(valueYes==0)  
        // displaying the result
        printf("Buzzer On");  
    if(valueNo==0)
     // displaying the result
        printf("Buzzer Off");  
}

In [ ]:
# getting the user input 
n,i=int(input("Enter a positive integer: ")),0
# while conditiion for iterations
while(i<n):
    # printing spaces and '*' in each row
    print(" "*(n-i-1)+"*"*(2*i+1))
    # incrementing the i value
    i+=1

Enter a positive integer: 5
    *
   ***
  *****
 *******
*********

In [ ]:
rows = 5
i = rows-1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 2

    *
  * * *
* * * * *

In [ ]:
# to display stars in equilateral triangular form 
n=20
while(n>=1):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times
    n=n-1

# for i in range(1, 11):
#     print(' '*n, end='') # repet space for n times
#     print('* '*(i)) # repeat stars for i times
#     n-=1

                    *
                   *
                  *
                 *
                *
               *
              *
             *
            *
           *
          *
         *
        *
       *
      *
     *
    *
   *
  *
 *

In [ ]:
# variable for spaceing
increment = 1
# getting the user input
countValue = int(input("Enter the positive integer: "))
# outer loop to handle to rows
for i in range(countValue,0,-1):
  # inner loop to handle spaces in each row
  for j in range(i,0,-1):
    # printing the space
    print(" ",end="")
  # printing the *
  print("*"*increment)
  # incrementing the spaces
  increment+=2

Enter the positive integer: 5
     *
    ***
   *****
  *******
 *********

**Step Arguments**

In [ ]:
name = "Nikhitha"

# i k h i t h
# i k # i t #
# i # h # t #
print(name[1:4])

# syntax ==> upper:lower:step
print(name[1:7:3])
# print(name[1:6])
# print(name[1:6:1])

ikh
ii

In [ ]:
String ='ASTRINGnikhitha'
        #01234567894563
  
# Using indexing sequence
print(String[:3])
print(String[1:10:3])

AST
SIn

In [ ]:
name = "Nikhitha"
print(len(name))

8

In [ ]:
Name =" raj 123 kiran"
print(Name.upper())

 RAJ 123 KIRAN

In [ ]:
print(name.upper())

NIKHITHA

In [ ]:
print(name.lower())

nikhitha lakshmi

In [ ]:
name = "nikhitha lakshmi"
print(name.title())

Nikhitha Lakshmi

### **strip() funtion**

In [ ]:
Name =" raj 123 kiran   "
print(Name.rstrip()+name)

 raj 123 kirannikhitha lakshmi

In [ ]:
Name =" raj 123 kiran   "
print(name+Name.lstrip())

nikhitha lakshmiraj 123 kiran

In [ ]:
Name =" raj 123 kiran   "
# print(Name.rstrip())
# print(Name.lstrip())
# print(Name.replace("123",""))

Name = Name.rstrip()
Name = Name.lstrip()
print(Name.replace("123",""))

raj  kiran

In [ ]:
print(name.replace("laks","dude"))

nikhitha dudehmi

In [ ]:
string = "Returns a copy of the copy string in UPPER CASE."
stringFirst = string.find("copy")
stringSecond = string.find("copy",stringFirst+1)
print(stringSecond)

22

In [ ]:
string.find("copy", 1)

10

### **center() function**

In [ ]:
name="kiran"
# main ---> underflow
print(name.center(4,"n"))
# normal execution
print(name.center(7,"n"))
print(name.center(8,"n"))
print(name.center(9,"n"))

kiran
nkirann
nkirann
nkirannn

immutable = once declared can't be remodified
1. String
2. Tuple

In [ ]:
name = "Nikhitha"
print(name.replace('k','r'))
print(name)

Nirhitha
Nikhitha

**if**

In [ ]:
val = int(input())
if val<10:
  print("Successfull")

9
Successfull

**if - else**

In [ ]:
val = int(input())
if val<10:
  print("Successfull")
else:
  print("Unsuccessfull")

85
Unsuccessfull

**if - elif - else**

In [ ]:
val=10 # assignment operator
Val==10  # comaparision operator -- True, False
val===10 # value and datatype  -True, False

In [ ]:
val = int(input())
if val<10:
  print("Successfull")
# elif(condition):
#   block of code
elif val==10:
  print("Equal to 10")
else:
  print("Unsuccessfull")

52
Unsuccessfull

In [ ]:
#user input values
# val1 = int(input())
# val2 = int(input())

# predefined 
# val1 = 10
# val2 = 12


val1,val2 = 10,12
if val1>val2:
  print(f"\n {val1} is greather")
else:
  print(f"\n {val2} is greather")

 12 is greather

**in Keyword**

In [ ]:
name  = "Nikhitha"

if "hi" in name:

Not present

### python program to check whether a person is eligible for voting or not
### greather of three numbers
### student pass or fail 90>A 80-70:B