In [3]:
# importing the padas library
import pandas as pd
# inserting the data in the form of tuples
data = [('User1','India', 23, 'Rs.15000'),
        ('User2', 'USA', 60, 'Rs.25000'),
        ('User3', 'Russia', 52,'Rs.35600'),
        ('User4', 'Pakistan', 27, 'Rs.62410'),
        ('User5', 'France', 10, 'Rs.65000') ] 
# creating dataframe with the inserted tuples data and adding the columns
dataset = pd.DataFrame(data, columns =['Name', 'Country', 'Age', 'Salary'])
# displaying the dataset
print(dataset)

    Name   Country  Age    Salary
0  User1     India   23  Rs.15000
1  User2       USA   60  Rs.25000
2  User3    Russia   52  Rs.35600
3  User4  Pakistan   27  Rs.62410
4  User5    France   10  Rs.65000