**1.1 Importing the modules**

In [9]:
import pandas as pd
import numpy as np
import io

**1.2 Creating the dataset**

In [10]:
data_string = """date,cumulative_confirmed,cumulative_deceased,cumulative_recovered,case_percent, cumulative_confirmed
                 10/2/5,20,10,5,5,20
                10/2/5,20,10,,5,20
                 10/2/5,20,10,5,5,20"""

data = io.StringIO(data_string)
df = pd.read_csv(data, sep=",")

df.head()

                      date  ...   cumulative_confirmed
0                   10/2/5  ...                     20
1                   10/2/5  ...                     20
2                   10/2/5  ...                     20

[3 rows x 6 columns]

**1.3 Removing the columns with redundant infomation**

In [12]:
df = df.T.drop_duplicates().T
df.head()

                      date  ... case_percent
0                   10/2/5  ...            5
1                   10/2/5  ...            5
2                   10/2/5  ...            5

[3 rows x 5 columns]

**1.4 Cleaning row with null data**

In [13]:
df = df.dropna()
df.head()

                      date  ... case_percent
0                   10/2/5  ...            5
2                   10/2/5  ...            5

[2 rows x 5 columns]

**1.5 Renaming the columns**

In [8]:
df.rename(columns = {"date":"data", "cumulative_confirmed":"confirmed","cumulative_deceased":"deceased","cumulative_recovered":"recovered","case_percent":"percent_pop" }, inplace=True)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                      data confirmed deceased recovered percent_pop
0                   10/2/5        20       10         5           5
2                   10/2/5        20       10         5           5